<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/am.css'%}">
    <link rel="stylesheet" href="{%static 'css/p.css'%}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-sm-top ">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">Ami-Ecom</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%if user.is_authenticated%}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home


                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:showprofile'%}">Profile


                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'product:store'%}">Store</a>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Service
                        </a>
                        <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'Ecart:cart_list'%}"
                                    style="color: #ab8815c6;">Cart</a></li>
                            <li><a class="dropdown-item" href="{% url 'product:order_list'%}"
                                    style="color: #ab8815c6;">Orders</a></li>
                            <li><a class="dropdown-item" href="about_us" style="color: #ab8815c6;">About-us</a></li>
                            <li>
                                <hr class="dropdown-divider" style="color: #c61717;">
                            </li>
                            <li><a class="dropdown-item" href="logout" style="color: #ab8815c6;">Logout</a></li>
                        </ul>
                    </li>







                    {%else%}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user:login_page' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user:sineup' %}">Sineup</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'product:store'%}">Store</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about_us">About-us</a>
                            </li>
                        </ul>
                    </div>
                    {%endif%}


                </ul>
                {%if user.is_authenticated%}
                <span class="nav-item ">
                   <span class="btn btn-danger ">Mr. {{user}}</span>
                </span>
                {%endif%}


            </div>
        </div>
    </nav>


    {% block mymessage %}
    {% endblock %}

    {% block myindex %}
    {%endblock%}
    <script src="{%static 'js/bmin.js'%}"></script>
    <script src="{%static 'js/p.js'%}"></script>
    <script src="{%static 'js/str.js'%}"></script>
</body>

</html>