label{
    color: rgb(19, 16, 12);
}

td{
    color:rgba(17, 22, 20, 0.866);   
}

h2{
    text-align: center;
    margin-top: 60px;
    color: burlywood;
}

.img_amit{
    aspect-ratio: 3/4;
    object-fit:cover;
    border: none;
}

